#directions {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: #e5e5e5;
  box-sizing: border-box;
  padding: 20px;

  display: flex;
  flex-direction: column;

  transition: transform 250ms ease;
}

#directions.hide {
  transform: translateX(-100%);
}

#directions-button-container {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#close-directions-button {
  text-align: center;
}

#go-back-button {
  text-align: center;
}
