#directions {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

#go-back-button {
  background: none;
  border: none;
  outline: none;
}

#from-container {
  margin-bottom: 10px;;
}

#directions.hide {
  /* Hack 110% instead of 100% because there was 1-pixel overlap */
  transform: translateX(110%);
}

#direction-steps {
  overflow-y: auto;
}

#go-back-button {
  margin-right: auto;
}