#directions {
    height: 100%;
    width: 100%;
  
    position: absolute;
  
    background-color: #e5e5e5;
    box-sizing: border-box;
    padding: 20px;
  
    display: flex;
    flex-direction: column;
    gap: 24px;
  
    transition: transform 250ms ease;
    margin-top: auto;
    align-items: center
  }
  
  #directions.hide {
    transform: translateX(-100%);
  }
  
  #directions #close-directions-button {
    position: absolute;
    bottom: 60px;
    margin-bottom: 15px;
  }

  #directions #go-back-button {
    position: absolute;
    bottom: 20px;

  }