/* Top-level container for the menu */
#menu {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;

  /* Width of navigation button */
  --navigation-width: 28px;
}
#menu.hide {
  transform: translateX(-100%);
}

/* Search bar style */
#searchbar-container {
  width: 100%;
  min-height: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding-left: 8px;
}
#searchbar-input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding: 8px 8px;
  font-size: inherit;
}
#searchbar-input:focus {
  outline: none;
}
#searchbar-icon {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 7px;
  height: 100%;
  max-height: 36px;
}
#searchbar-icon img {
  height: 100%;
}

/* Building list style */
#building-list-container {
  width: 100%;
  min-height: 200px;
  border-radius: 8px;
  background-color: #ffffff;
  overflow: auto;

  box-sizing: border-box;
  padding: 12px;
}
.building-list-item {
  padding: 8px 0 4px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  display: flex;
  position: relative;
  padding-right: var(--navigation-width);

  transition: border 200ms ease;
}
.building-list-item.hide {
  display: none;
}
.building-list-item:not(:first-child) {
  padding-top: 20px
}
.building-list-item:hover {
  border-color: #ff3158;
}
.building-list-item.selected {
  color: #ff3158;
  border-color: #ff3158;
}

.navigation{
  background-color: black;
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
  margin-right: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: var(--navigation-width);
  white-space: nowrap;
  background: url("./directions.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
