/* Top-level container for the floating menu */
#menu {
  width: 440px;
  height: 100%;

  background-color: #e5e5e5;
  box-sizing: border-box;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 24px; 
}

/* Search bar style */
#searchbar-container {
  width: 100%;
  min-height: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding-left: 8px;
}
#searchbar-input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding: 8px 8px;
  font-size: inherit;
}
#searchbar-input:focus {
  outline: none;
}
#searchbar-icon {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 7px;
  height: 100%;
  max-height: 36px;
}
#searchbar-icon img {
  height: 100%;
}

/* Building list style */
#building-list-container {
  width: 100%;
  min-height: 200px;
  max-height: 40%;
  border-radius: 8px;
  background-color: #ffffff;
  overflow: auto;

  box-sizing: border-box;
  padding: 12px;
}
.building-list-item {
  padding: 8px 0 4px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;

  transition: border 200ms ease;
}
.building-list-item:not(:first-child) {
  padding-top: 20px
}
.building-list-item:hover {
  border-color: #FF3158;
}
.building-list-item.selected {
  color: #FF3158;
  border-color: #FF3158;
}