/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* These elements don't inherit font-family by default */
input, select, textarea, button{font-family:inherit;}

main {
  height: 100vh;
  display: flex;
}

.ui-button {
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 22px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: .5s;
  float: left;
  box-shadow: -2px 2px 0 black;
}

.ui-left {
  transform: rotate(45deg);
}
.ui-right {
  transform: rotate(-135deg);
}
.ui-Up {
  transform: rotate(135deg);
}
.ui-Down {
  transform: rotate(-45deg);
}
.ui-left:hover {
  box-shadow: -2px 2px #FF3158;
}
.ui-right:hover {
  box-shadow: -2px 2px #FF3158;
}
.ui-Up:hover {
  box-shadow: -2px 2px #FF3158;
}
.ui-Down:hover {
  box-shadow: -2px 2px #FF3158;
}
