/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */      
#map {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}
/* These elements don't inherit font-family by default */
input, select, textarea, button{font-family:inherit;}

main {
  height: 100vh;
  display: flex;
}

#ui-container {
  z-index: 100;
  position: relative;
  width: 360px;
  background-color: #F5F4F3;
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
#school-logo {
  height: 122px;
  margin: 40px 0 30px;
}
#menu-button-container {
  margin-top: auto;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
#menu-button-container .button {
  width: 100%;
}
#admissions-button {
  padding: 14px;
}
#powered-by-matterport {
  height: 17px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Container for building list and direction menus */
#menu-container {
  position: relative;
  height: 470px;
  width: 100%;
  overflow: hidden;
}
/* Container for building list/directions */
.menu-section {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;

  transition: transform 250ms ease;
}

.ui-button {
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 22px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: .5s;
  float: left;
  box-shadow: -2px 2px 0 black;
}

.ui-left {
  transform: rotate(45deg);
}
.ui-right {
  transform: rotate(-135deg);
}
.ui-Up {
  transform: rotate(135deg);
}
.ui-Down {
  transform: rotate(-45deg);
}
.ui-left:hover {
  box-shadow: -2px 2px #ff3158;
}
.ui-right:hover {
  box-shadow: -2px 2px #ff3158;
}
.ui-Up:hover {
  box-shadow: -2px 2px #ff3158;
}
.ui-Down:hover {
  box-shadow: -2px 2px #ff3158;
}

button {
  text-align: center;
}
a.button {
  /* Make link act like button in layout and clicks */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
}
/* Hollow button style (default button class) */
.button {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #222;
  padding: 6px 16px;
  cursor: pointer;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  color: #222;
  text-align: center;
}
.button:hover {
  color: #ff3158;
  border-color: #ff3158;
}

/* Hollow button style */
.button-solid {
  background-color: #222;
  border: none;
  color: #fff;

  transition: background-color 200ms ease;
}
.button-solid:hover {
  color: #fff;
  background-color: #ff3158;
}

#geocoding-error, #directions-error {
  color: red;
  display: none;
  font-size: 1.5em;
  font-weight: 700;
  height: 2em;
  padding: 1em;
  width: 100%;
}
#directions-error {
  text-align: right;
}
#region {
  margin-top: .5em;
}
select {
  font-size: 1em;
  width: 220px;
}
#selection-div {
  display: inline;
}
#selection-box {
  background-color: white;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  border-radius: 2.5px;
  display: none;
  font-size: 1.1em;
  left: 0px;
  margin: 1em;
  max-height: 200px;
  max-width: 390px;
  overflow: auto;
  padding: .8em;
  position: absolute;
  top: 0px;
  -webkit-user-select: none;
  -webkit-background-clip: padding-box;
  z-index: 999;
}
.select-label {
  display: inline-block;
  color: #333;
  font-size: 1em;
  width: 60px;
}

 .close-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.topright {
  position: absolute;
  right: 0;
  top: 0
}